<div [id]="'fullContent'">
  <div [class]="'body'">
    <div [id]="'background'"></div>


    <app-header-nav></app-header-nav>

    <div [class]="'container fullContent'">

      <div [class]="'content'">
        <div [class]="'textContent'">
          <div>
            <h1>{{ "aboutme_title" | translate }}</h1>
            <p>{{ "aboutme_text" | translate }}</p>
            <p>{{"aboutme_text2" | translate }}</p>

            <ul>
              <li *ngFor="let lang of languages">{{ lang }}</li>
            </ul>
          </div>
          <div [class]="'picture'">
            <img [src]="profile_pic">
          </div>
        </div>
      </div>
      <app-social-media></app-social-media>
    </div>
  </div>
</div>

