<div [id]="'fullContent'">
  <div [class]="'body'">
    <div [id]="'background'"></div>


    <app-header-nav></app-header-nav>
    <div [class]="'container fullContent'">



      <div [class]="'content'">
        <div [class]="'textContent'">
          <h1>Hi! I'm Ioan</h1>
          <h1 [class]="'secondary'">Front-end developer and web designer</h1>
          <p>I handle myself pretty well designing and programming web and mobile applications. I am always looking for more knowledge and I will probably go down learning the TypeScript frameworks/libraries.</p>
        </div>
      </div>
    </div>
    <app-social-media></app-social-media>

  </div>
</div>
