<aside>
  <ul>
    <li>
      <a [href]="'https://github.com/Ioannarcis14/'" [target]="'_blank'">
        <fa-icon [icon]="faGithub" [class]="'icon'" ></fa-icon>
      </a>
    </li>
    <li>
      <a [href]="'linkedin.com/in/ioan-narcis-matei-836ab9233'" [target]="'_blank'">
        <fa-icon [icon]="faLinkedin" [class]="'icon'"></fa-icon>
      </a>
    </li>
    <li>
      <a>
        <fa-icon [icon]="faWhatsapp" [class]="'icon whatsapp'"></fa-icon>
        <p [class]="'hide'">+34 642 573 468</p>
      </a>
    </li>
    <li>
      <a [href]="'mailto:Ioannarcis14@gmail.com'">
        <fa-icon [icon]="faEnvelope" [class]="'icon'"></fa-icon>
      </a>
    </li>
  </ul>
</aside>
