<aside>
  <ul>
    <li>
      <a [href]="'https://www.google.com'">
        <fa-icon [icon]="faGithub" [class]="'icon'" ></fa-icon>
      </a>
    </li>
    <li>
      <a [href]="'https://www.google.com'">
        <fa-icon [icon]="faLinkedin" [class]="'icon'"></fa-icon>
      </a>
    </li>
    <li>
      <a [href]="'https://www.google.com'">
        <fa-icon [icon]="faWhatsapp" [class]="'icon'"></fa-icon>
      </a>
    </li>
    <li>
      <a [href]="'https://www.google.com'">
        <fa-icon [icon]="faEnvelope" [class]="'icon'"></fa-icon>
      </a>
    </li>
  </ul>
</aside>
